<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::Fabric.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_fabric.id %></strong>»</legend>
  <%= render 'form', admin_pricing_fabric: @admin_pricing_fabric, :submit_text => 'ویرایش' %>
</div>