#management-panel {
  .row {
    & {
      margin: 0;
      padding: 0;
      height: 94.04vh;
    }
    #navigation {
      & {
        height: 100%;
        background-color: #f8f8f8;
        border-left: 1px solid #e7e7e7;
        padding: 20px;
        height: 100%;
        background-color: #f8f8f8;
        border-left: 1px solid #e7e7e7;
        padding: 20px;
        border-color: rgb(0, 0, 0);
        border-color: rgba(0, 0, 0, 0.8);
        border-left-style: solid;
        border-left-width: 4px;
        position: fixed;
        right: 0;
        top: 50px;
        height: 100%;
        padding: 0;
        overflow: auto;
      }
      @media (max-width: 723px) { 
        &.col-xs-12 { height: 30%; overflow: auto }
      }
    }
    #panel {
      & {
        padding: 0;
        height: 100%;
      }
    }
  }
}


#below-nav-top-bar {
  & {
    min-height: 50px; 
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.8); 
    position: relative;
    top: 0px;
    width: 100%;
    color: white;
    padding: 15px;
    text-align: center;
  }
  &:after {
    display: none;
    clear: both;
  }
  & > span {
    display: inline;
    padding-top: 5px;
  }
  form {
    select {
      background-color: #555555;
      color: white;
      
    }
  }
}