<% form_id = '' %>
<%= remote_form(admin_selling_config_days_to_complete) do |f| -%>
  <% form_id = f.options[:html][:id] %>
  <div  class='block'>
      <div class="field">
        <%= f.number_field :extra, min: 0, step: 1, autofocus: true%>
      </div>

      <div class='clearfix'></div>
  </div>

  <div class="actions field pull-left">
    <%= f.submit submit_text,  data: { disable_with: "درحال ثبت اطلاعات..." }, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
<% end %>