<p id="notice"><%= notice %></p>

<p>
  <strong>Extra:</strong>
  <%= @admin_selling_config_days_to_complete.extra %>
</p>

<%= link_to 'Edit', edit_admin_selling_config_days_to_complete_path(@admin_selling_config_days_to_complete) %> |
<%= link_to 'Back', admin_selling_config_days_to_completes_path %>
