<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::Kalaf.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_kalaf.id %></strong>»</legend>
  <%= render 'form', admin_pricing_kalaf: @admin_pricing_kalaf, :submit_text => 'ویرایش' %>
</div>