<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::Foam.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_foam.id %></strong>»</legend>
  <%= render 'form', admin_pricing_foam: @admin_pricing_foam, :submit_text => 'ویرایش' %>
</div>