<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Furniture::Wood::ColorWeight.model_name.i18n_key}" %>: «<strong><%= @admin_furniture_wood_color_weight.id %></strong>»</legend>
  <%= render 'form', admin_furniture_wood_color_weight: @admin_furniture_wood_color_weight, :submit_text => 'ویرایش' %>
</div>