<div class='' style="width: 100%">
	<legend>ویرایش برند رنگ <strong><%= @admin_furniture_paint_color_quality.name %></strong></legend>
	<%= render 'form', admin_furniture_paint_color_quality: @admin_furniture_paint_color_quality, :submit_text => 'ویرایش'  %>
</div>
