<legend><span class='fa fa-shopping-bag'></span> مدیریت محصولات</legend>
<div class="list-group">
  <a href="<%= admin_furniture_types_path %>" class="list-group-item" target='panel-frame'>
    دسته‌بندی‌ محصولات
  </a>
  <a href="<%= admin_furnitures_path %>" class="list-group-item" target='panel-frame'>
    محصولات
  </a>
</div>