<legend><span class='fa fa-users'></span> مدیریت انسانی</legend>
<div class="panel-group accordion" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
      	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_users" aria-expanded="false" aria-controls="collapseThree">
	      	<span class='fa fa-th-large'></span> کاربران
      	</span>
      </h4>
    </div>
    <div id="collapse_users" class="panel-collapse collapse" role="tabpanel">
      <div class="list-group">
        <a href="<%= admin_user_types_path %>" class="list-group-item" target='panel-frame'>
          انواع کاربران
        </a>
        <a href="<%= admin_users_path %>" class="list-group-item" target='panel-frame'>
          کاربران
        </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
      	<span class="collapsed" role="button" data-toggle="collapse" data-parent=".accordion" href="#collapse_employees" aria-expanded="false" aria-controls="collapseThree">
	      	<span class='fa fa-th-large'></span> کارکنان
      	</span>
      </h4>
    </div>
    <div id="collapse_employees" class="panel-collapse collapse" role="tabpanel">
      <div class="list-group">
      	<a href="#">؟؟؟</a>
      </div>
    </div>
  </div>
 </div>