<div class='' style="width: 100%">
	<legend>ویرایش برند‌ پارچه <strong><%= @admin_fabric_brand.name %></strong></legend>

	<%= render 'form', admin_fabric_brand: @admin_fabric_brand, :submit_text => 'ویرایش'  %>

</div>