<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Furniture::Fabric::Cushion.model_name.i18n_key}" %>: «<strong><%= @admin_furniture_fabric_cushion.id %></strong>»</legend>
  <%= render 'form', admin_furniture_fabric_cushion: @admin_furniture_fabric_cushion, :submit_text => 'ویرایش' %>
</div>