<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::PaintColor.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_paint_color.id %></strong>»</legend>
  <%= render 'form', admin_pricing_paint_color: @admin_pricing_paint_color, :submit_text => 'ویرایش' %>
</div>