<div style="width: 100%">
  <legend>ایجاد «<b><%= t "activerecord.models.#{Admin::Pricing::PaintColor.model_name.i18n_key}" %></b>» جدید</legend>
  <%= render 'form', admin_pricing_paint_color: @admin_pricing_paint_color, :submit_text => 'ایجاد' %>
</div>