<h1>Editing Admin Furniture Color Quality</h1>

<%= render 'form', admin_furniture_color_quality: @admin_furniture_color_quality %>

<%= link_to 'Show', @admin_furniture_color_quality %> |
<%= link_to 'Back', admin_furniture_color_qualities_path %>
