<div class='' style="width: 100%">
	<legend>ویرایش نوع پارچه <strong><%= @admin_fabric.brand.name %></strong></legend>

	<%= render 'form', admin_fabric: @admin_fabric, :submit_text => 'ویرایش'  %>

</div>