<div class='' style="width: 100%">
	<legend>ویرایش کارگاه «<%= @admin_workshop_workshop.name %>»</legend>
	<%= render 'form', admin_workshop_workshop: @admin_workshop_workshop, :submit_text => 'ویرایش'  %>
</div>