<h1>Editing Admin Workshop Workshop</h1>

<%= render 'form', admin_workshop_workshop: @admin_workshop_workshop %>

<%= link_to 'Show', @admin_workshop_workshop %> |
<%= link_to 'Back', admin_workshop_workshops_path %>
