<div class="panel panel-danger" style='margin: 20px;'>
  <div class="panel-heading">
  	<span class='fa fa-exclamation-triangle'></span> خطا در آدرس‌دهی!
  </div>
  <div class="panel-body">آدرسی برای عملیات درخواستی در سامانه تعریف نشده است.</div>
</div>