<div style="width: 100%">
  <legend>ایجاد «<b><%= t "activerecord.models.#{Admin::Pricing::Const.model_name.i18n_key}" %></b>» جدید</legend>
  <%= render 'form', admin_pricing_const: @admin_pricing_const, :submit_text => 'ایجاد' %>
</div>