<div class="container">
	<div class="text-center" style="min-height: 100px; border: 1px solid #ddd; padding: 35px; margin: 30px">
		<%= raw @message %>
		<div class="clearfix"></div>
		<%= link_to "تست مجدد", payment_test_api_index_path %>
	</div>
</div>