<legend><h1>ایجاد نوع کاربری جدید</h1></legend>
<div class='col-md-8 col-md-offset-2'>  
  <%= render 'form', admin_user_type: @admin_user_type %>
  <%= link_to 'بازگشت', admin_user_types_path, style: 'position: relative; top: 10px;' %>
</div>

