<div class="col-xs-12" style='padding: 3px; padding-bottom: 20px'>
	<div class='field' style="margin:0; padding-bottom: 20px;margin-top: 20px;">
		<legend>بروزرسانی عکس‌ها <small class='text-muted' style='font-size: 75%'>توجه شود که اضافه‌ کردن عکس‌ها زمانی تایید می‌شوند که این فرم به «<b>بروز‌رسانی</b>» گردد.</small></legend>
		<%= render 'admin/uploaded_files/form', :target_form => {:tag => "form##{form_id}", :input => "#{collection.model_name.param_key}[imid]"}, multiple: (local_assigns.has_key?(:multiple) and multiple) %>
	</div>
</div>
<div class='clearfix'></div>

<script type="text/javascript" charset="utf-8">
	(function(){
		$('form#<%= form_id %> a[data-method="delete"][data-remote="true"]')
			.click(function() { $(this).parents('.img-wrap').addClass('fade') })
			.bind("ajax:complete", function() { $(this).parents('.img-wrap').removeClass('fade') })
			.bind("ajax:error", function(evt, data, status, xhr){ alert_error('خطایی در هنگام حذف عکس مورد انتخاب صورت گرفت!'); })
			.bind("ajax:success", function(evt, data, status, xhr) {
				$(this).parents('.img-wrap').fadeOut(500, function() {
					$(this).remove();
					if($('form#<%= form_id %> #img-collection .img-wrap').length === 0)
						$("form#<%= form_id %> #img-collection").html("<div class='empty-collection'>برای این محصول عکسی ثبت نشده است.</div>")
				});
				if(data.order !== undefined) for(var i = 0, j = data.order.length; i < j; i++) $('a[for="'+data.order[i].target+'"]').attr('href', data.order[i].url);
			});
	})(jQuery);
</script>