<div class='' style="width: 100%">
	<legend>تعریف نوع ابر «<strong><%= @admin_furniture_stuff_abr.name %></strong>»</legend>

	<%= render 'form', admin_furniture_stuff_abr: @admin_furniture_stuff_abr, :submit_text => 'ویرایش'  %>

</div>
