<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Selling::Payment::Payment.model_name.i18n_key}" %>: «<strong><%= @admin_selling_payment_payment.id %></strong>»</legend>
  <%= render 'form', admin_selling_payment_payment: @admin_selling_payment_payment, :submit_text => 'ویرایش' %>
</div>