<div style="width: 100%">
  <legend>ایجاد «<b><%= t "activerecord.models.#{Admin::Selling::Payment::Payment.model_name.i18n_key}" %></b>» جدید</legend>
  <%= render 'form', admin_selling_payment_payment: @admin_selling_payment_payment, :submit_text => 'ایجاد' %>
</div>