/*
 *= require jquery-ui/slider
 */

#furniture-cover {
  & ~ .container {
    position: relative;
    top: 70px
  }
  .cover-item,
  .cover-scroller {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: center;
  }
  .cover-item {
    box-shadow: 2px 2px 4px #bbb;
    width: 150px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cover-scroller {
    top: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    padding-top: 55px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #0088cc;
  }
  .cover-scroller{
    &[data=right] { display: hidden }
    &.disabled {
      visibility: hidden
    }
  }
  #cover-options {
    & {
      height: 30px;
      left: 10px;
      top: 65px;
      right: 0px;
      position: absolute;
    }
    #cover-options-controls {
      & {
        right: 45px;
        top: 60px;
        position: absolute;
        text-align: center;
        padding: 0px 10px 0px 10px;
      }
      &:after {
          content:'';
          position: absolute;
          top: -15px;
          right: 12%;
          width: 0;
          height: 0;
      }
      .ui-slider-vertical {
          height: 400px;
          width: 10px;
      }
      .ui-slider .ui-slider-handle {
          height: 15px;
          width: 18px;
          padding-left: 5px;
      }
    }
  }
  #cover-container {
    & {
      position: absolute;
      display: inline;
      z-index: 1000;
      top: 450px;
      left: 20vw;
      right: 20vw;
    }
    #cover-collection {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
      padding: 10px 0 50px 0;
      margin: 0;
    }
  }
}
#div-f-cover {
  position: relative;
  z-index: -1000; 
  top: -20px;
}

/* <furniture confirm data> */
.kid-effect {
  -webkit-box-shadow:0 0 20px #0088cc; 
  -moz-box-shadow: 0 0 20px #0088cc; 
  box-shadow:0 0 20px #0088cc;
}

#furniture-info-content > div.tab-pane {
  margin: 10px auto;
  padding: 20px;
  bolder: 0;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
/* </furniture confirm data> */

/* Medium devices (desktops; devices, 1600px and down) */
@media (max-width: 1600px) {
  #div-f-cover { background-size: 100vw }
}

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  #div-f-cover { background-size: 80vw }
}
