#management-panel {
  .row {
    & {
      margin: 0;
      padding: 0;
      height: 94.04vh;
    }
    #navigation {
      & {
        position: fixed;
        overflow-y: auto;
        height: 100%;
        background-color: #f8f8f8;
        border-left: 1px solid #e7e7e7;
        padding: 20px;
      }
      @media (max-width: 723px) { 
        &.col-xs-12 { height: 30%; overflow: auto }
      }
    }
    #panel {
      & {
        padding: 0;
        height: 100%;
      }
    }
  }
}
