<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Furniture::Wood::Color.model_name.i18n_key}" %>: «<strong><%= @admin_furniture_wood_color.id %></strong>»</legend>
  <%= render 'form', admin_furniture_wood_color: @admin_furniture_wood_color, :submit_text => 'ویرایش' %>
</div>