<div id='edit-desc'>
  <ul class="nav nav-tabs nav-rtl">
    <li role="presentation" class="active tabify" id='tab1'><a href="#">ویرایش متن</a></li>
    <li role="presentation" class="tabify" id='tab2'><a href="#">خروجی</a></li>
  </ul>
  <div class='clearfix' style='margin: 10px;'></div>
  <tab for='tab1' class='ir'>
    <%= redirect_form @furniture, url: update_description_admin_furniture_furniture_path do |f| %>
      <%= f.text_area :description, hide_label: true, placeholder: "توضیحات مدل #{@furniture.name}", autofocus: true, dir: :auto %>
      <%= f.submit 'ثبت تغییرات', class: 'btn btn-primary'%>
    <% end %>
  </tab>
  <tab for='tab2'>
    <center style='margin-top: 30px; font-size: 25px;' id='loading-spinner'>
      <span class='fa fa-spinner fa-spin'></span>
    </center>
    <div id='content' class='hidden' style='padding: 10px;'>
    </div>
  </tab>
</div>

<style type="text/css" media="screen">
  #edit-desc { padding: 10px; }
	#edit-desc form[name=furniture] textarea { height: 400px; font-size: 20px }
	#edit-desc [for=tab2] { display: none }
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  $('#edit-desc .tabify').click(function(e){
	    e.preventDefault();
	    $('#edit-desc .tabify.active').removeClass('active');
	    $('#edit-desc tab[for!='+$(this).attr('id')+']').hide();
	    $('#edit-desc tab[for='+$(this).attr('id')+']').show();
      $(this).addClass('active');
	  });
	  $('#edit-desc #tab2').click(function(e) {
      $('[for=tab2] #loading-spinner').show().css('min-height', $("[for='tab1']").css('height'));
      $('[for=tab2] #content').addClass('hidden').html('');
	    $.post(
	      '<%= markup_admin_furniture_furnitures_path %>',
	      {text: $("[for='tab1'] textarea").val()},
	      function(data) {
	        $('[for=tab2] #loading-spinner').hide();
	        $('[for=tab2] #content').html(data.html).removeClass('hidden').css('min-height', $("[for='tab1']").css('height'));
	      },
	      'json'
	    );
	  });
	});
</script>