<div class='' style="width: 100%">
	<legend>ویرایش نوع پارچه <strong><%= @admin_furniture_fabric_type.name %></strong></legend>

	<%= render 'form', admin_furniture_fabric_type: @admin_furniture_fabric_type, :submit_text => 'ویرایش'  %>

</div>
