<div class='' style="width: 100%">
	<legend>ویرایش قسمت <strong><%= @admin_furniture_section.name %></strong></legend>

	<%= render 'form', admin_furniture_section: @admin_furniture_section, :submit_text => 'ویرایش'  %>

</div>
