<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::Transit.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_transit.id %></strong>»</legend>
  <%= render 'form', admin_pricing_transit: @admin_pricing_transit, :submit_text => 'ویرایش' %>
</div>