<div style="width: 100%">
  <legend>ایجاد «<b><%= t "activerecord.models.#{Admin::Pricing::Transit.model_name.i18n_key}" %></b>» جدید</legend>
  <%= render 'form', admin_pricing_transit: @admin_pricing_transit, :submit_text => 'ایجاد' %>
</div>