<div id='management-panel' style='margin-top: -25px'>
  <div class='row' style='padding:0;'>
    <div id='panel' class='col-lg-10 col-md-10 col-sm-9 col-xs-12 pull-left'>
      <iframe name='panel-frame' style='width: 100%; height: 100%;' frameborder='0' src="<%= dashboard_admin_home_index_path %>" onLoad="window.history.pushState('', '', '<%= request.path %>/#'+this.contentWindow.location.pathname);"></iframe>
    </div>
    <div id='navigation' class='col-lg-2 col-md-2 col-sm-3 hidden-xs pull-right'>
      <legend style="margin-bottom: 30px"><span class='fa fa-desktop'></span> پنل مدیریتی</legend>
			<% Dir['app/views/admin/home/branch/*.html.erb'].sort_by {|f| f}.each do |file| %>
				<%= render "admin/home/branch/" + File.basename(file, '.html.erb').sub(/^_/, '') %>
			<% end %>
    </div>
    <div class='clearfix'></div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  $('#management-panel #navigation .list-group a[href!="#"]').click(function(){
	    $('#management-panel #navigation .list-group a.active').removeClass('active');
	    $(this).addClass('active');
	    $('.panel-collapse.in').not(':has(.list-group a.active)').closest('.panel-group').find('[data-toggle="collapse"]').click();
	    $(this).closest('.panel').find('.collapsed[data-toggle="collapse"]').click();
	  });
	  // make bookmarkable hash
    if(window.location.hash) {
      url = window.location.hash.split('#')[1];
      // only allow by pass the urls that are defined in this section
      if(url.startsWith('/') && $('#management-panel #navigation .list-group a[href="'+url+'"]').length) {
        // assign the url
        $("iframe[name='panel-frame']").attr('src', url)
        // make the related link active
        $('#management-panel #navigation .list-group a[href="'+url+'"]').click()
      }
    }
    // if none is active? activate the first one
    if(!$('#management-panel #navigation .list-group a[href!="#"].active').length)
      $('#management-panel #navigation .list-group:first a[href!="#"]:first').addClass('active')
	})
</script>
