<div id='management-panel' style='margin-top: -20px'>
  <div class='row' style='padding:0;'>
    <div id='panel' class='col-lg-10 col-md-10 col-sm-9 col-xs-12 pull-left'>
      <iframe name='panel-frame' class="embed-responsive-itemx" style='width: 100%; height: 100%' frameborder='0'></iframe>
    </div>
    <div id='navigation' class='col-lg-2 col-md-2 col-sm-3 hidden-xs pull-right'>
      <legend style="margin-bottom: 30px">پنل مدیریتی</legend>
      <div class="list-group">
        <a href="<%= '#' %>" class="list-group-item" target='panel-frame'>
          داشبورد مدیریتی
        </a>
        <a href="https://www.w3schools.com" class="list-group-item" target='panel-frame'>
          مدیریت کاربران
        </a>
        <a href="#" class="list-group-item" target='panel-frame'>
          مدیریت دسته‌بندی‌ محصولات
        </a>
        <a href="#" class="list-group-item" target='panel-frame'>
          مدیریت محصولات
        </a>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</div>
