<div class='' style="width: 100%">
	<legend>ویرایش نوع پارچه <strong><%= @admin_furniture_fabric_quality.name %></strong></legend>

	<%= render 'form', admin_furniture_fabric_quality: @admin_furniture_fabric_quality, :submit_text => 'ویرایش'  %>

</div>
