<h1>Editing Admin Furniture Color Brand</h1>

<%= render 'form', admin_furniture_color_brand: @admin_furniture_color_brand %>

<%= link_to 'Show', @admin_furniture_color_brand %> |
<%= link_to 'Back', admin_furniture_color_brands_path %>
