<% form_id = '' %>
<%= redirect_form(admin_furniture_wood_type) do |f| %>
	<% form_id = f.options[:html][:id] %>
	<div  class='block'>
	  <div class="row ir">
	    <%= f.text_field :name, :autofocus => true, :required => true, wrapper: {class: 'col-md-6 pull-right'} %>
    </div>
	
	  <div class="row">
	    <%= f.text_area :comment, wrapper: {class: 'col-md-12'} %>
	  </div>
	  <div class='clearfix'></div>
  </div>

  <div class="actions field pull-left">
    <%= f.submit submit_text, :class => 'btn btn-primary' %>
  </div>
<% end %>
