<div class='' style="width: 100%">
	<legend>تعریف نوع چوب «<strong><%= @admin_furniture_wood_type.name %></strong>»</legend>

	<%= render 'form', admin_furniture_wood_type: @admin_furniture_wood_type, :submit_text => 'ویرایش'  %>

</div>