<div class='' style="width: 100%">
	<legend>ویرایش رنگ «<strong><%= @admin_furniture_color.name %></strong>»</legend>
	<%= render 'form', admin_furniture_color: @admin_furniture_color, :submit_text => 'ایجاد'  %>
</div>