<div>
	<legend>اطلاعات ویرایش شده به شرح زیر است:</legend>
	<div id="confirmation-content">
		<hr />
	</div>
	<hr />
	<div id="two-step-auth-container" class="hidden">
		<%= render_two_step_auth_form %>
	</div>
	<div id="confirm-submit-container">
		<a href="#" id="confirmation-content-confirm-action" class='btn btn-primary'><span class='fa fa-check'></span> تایید کلیه‌ی اطلاعات</a>
		<div class="panel panel-danger panel-errors hidden" style='margin-top: 20px;'>
			<div class="panel-heading">خطای اجرای عملیات!</div>
		  <div class="panel-body">
		  	<ol></ol>
		  </div>
		</div>
	</div>
</div>