<div>
	<legend>اطلاعات ویرایش شده به شرح زیر است:</legend>
	<div id="confirmation-content">
		<hr />
	</div>
	<br />
	<fieldset>
		<legend>تایید داده‌ها:</legend>
		<div class="row">
			<div class="col-md-5 pull-right">
	      <label for="temp-pass">رمز موقت خود را وارد کنید:</label>
	      <input type="text" name="temp-pass" class="form-control" placeholder="رمز موقت">
	    </div>
		</div>
		<div class="row" style='margin: 10px 0'>
			<div>
				<a href="#" id="confirmation-content-confirm-action" class='btn btn-primary'><span class='fa fa-check'></span> تایید کلیه‌ی اطلاعات</a>
			</div>
		</div>
	</fieldset>
</div>
