<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::PaintAstarRouye.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_paint_astar_rouye.id %></strong>»</legend>
  <%= render 'form', admin_pricing_paint_astar_rouye: @admin_pricing_paint_astar_rouye, :submit_text => 'ویرایش' %>
</div>