<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Selling::Config::Profit.model_name.i18n_key}" %>: «<strong><%= @admin_selling_config_profit.id %></strong>»</legend>
  <%= render 'form', admin_selling_config_profit: @admin_selling_config_profit, :submit_text => 'ویرایش' %>
</div>