<h1>Editing Admin Fabric Section</h1>

<%= render 'form', admin_fabric_section: @admin_fabric_section %>

<%= link_to 'Show', @admin_fabric_section %> |
<%= link_to 'Back', admin_fabric_sections_path %>
