<div class='' style="width: 100%">
	<legend>تعریف نوع ابر «<strong><%= @admin_furniture_foam_type.name %></strong>»</legend>

	<%= render 'form', admin_furniture_foam_type: @admin_furniture_foam_type, :submit_text => 'ویرایش'  %>

</div>
