// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//= require font-awesome
@import "bootstrap-sprockets";
@import "bootstrap";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'hovereffect';
@import 'home';

.empty-collection {
  border: 1px solid #eee;
  text-align: center;
  width: 100%;
  padding: 13px;
  min-height: 50px;
  font-size: 15px
}
