// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//= require font-awesome
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "check-awesome";
@import url('http://www.fontonline.ir/css/BZar.css');

body {
  font-family: BZar,'BZar', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 17px;
}

.ir { direction: rtl; text-align: right }

.empty-collection {
  border: 1px solid #eee;
  text-align: center;
  width: 100%;
  padding: 13px;
  min-height: 50px;
  font-size: 15px
}
