/*
 *= require_self
 *= require check-awesome
 *= require font-bzar
 *= require rails_bootstrap_forms
 *= require bootstrap-select
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "nprogress";
@import "nprogress-bootstrap";
@import "nprogress-turbolinks5";

@mixin cross-browser-opacity($op) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$op*100})";
  /* IE 5-7 */
  filter: alpha(opacity=$op * 100);
  /* Netscape */
  -moz-opacity: $op;
  /* Safari 1.x */
  -khtml-opacity: $op;
  /* Good browsers */
  opacity: $op;
}

@mixin cross-browser-transition($op1, $op2, $op3, $op4) {
  -webkit-transition: $op1 $op2 $op3 $op4;
  -moz-transition: $op1 $op2 $op3 $op4;
  -o-transition: $op1 $op2 $op3 $op4;
  transition: $op1 $op2 $op3 $op4;
}

@mixin cross-browser-border-radius($op) {
  -webkit-border-radius: $op!important;
  webkit-border-radius: $op!important;
  -moz-border-radius: $op!important;
  border-radius: $op!important;
}
@mixin cross-browser-border-radius-direction($op, $dir) {
  -webkit-border-#{$dir}-radius: $op!important;
  webkit-border-#{$dir}-radius: $op!important;
  -moz-border-#{$dir}-radius: $op!important;
  border-#{$dir}-radius: $op!important;
}

@mixin cross-browser-transform($op1) {
  -webkit-transform: $op1;
  -moz-transform: $op1;
  -o-transform: $op1;
  transform: $op1;
}

.fa { vertical-align: middle; padding: 0 5px 0 5px; }

.ir-font {
  font-family: BZar,'BZar', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.en-font {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  font-size: 20px;
}

.ir { direction: rtl!important; text-align: right!important; }
.en { direction: ltr!important; text-align: left!important; @extent .en-font }

// make the modal be above everything, specially PhotoSwipe!
.modal { z-index: 10000 }
.modal-backdrop { z-index: 9999 }

body {
  // assign the .ir-font to whole body
  & { @extend .ir-font; }

  input:not([type=checkbox]):not(.btn),
  select,
  textarea { @extend .form-control; font-size: 20px!important; }
  input { font-size: 20px!important; }

  .bootstrap-select{
    &:not(.en) * { @extend .ir-font }
    &.en * { @extend .en-font }
  }

  .shadow-box {
    box-shadow: 0 0 10px #aaa;
    &:not(.nohover-effect):hover {
      box-shadow: 0 0 10px #0088cc;
    }
  }
  .hover-shadow {
    &:hover {
      box-shadow: 0 0 10px #aaa;
    }
  }

  th { text-align: right }

  input[type=tel] { text-align: right; direction: ltr }

  table {
    tbody.no-layout > tr > td {
      border: 0!important
    }
    thead.no-layout > tr > th,
    thead.no-layout ~ tbody > tr:first-child > td {
      border: 0!important
    }
    tr.divider {
      &:not(:first-child) {
        td { border-top: 3px solid $table-border-color; }
      }
    }
  }

  .label { @extend .ir-font }

  .bootstrap-select.btn-group .filter-option,
  .dropdown-menu { @extend .ir }

  .text-disabled { color: #777!important; }

  #page-alerts {
    & {
      position: absolute;
      top: 30px;
      left: 25%;
      right: 25%;
      z-index: 1000;
      @include cross-browser-opacity(0.95);
    }
    .alert { position: relative; }
    .alert:nth-child(1) { top: 30px; }
    .alert:nth-child(2) { top: 17px; }
    .alert:nth-child(3) { top: 4px; }
    .alert:nth-child(4) { top: -10px; }
  }

  .block {
      background-color: #fafafa;
      border: 1px solid #e7e7e7;
      margin-bottom: 10px;
      padding: 30px;
  }

  #nprogress {
    .spinner-left {
      @extend .spinner;
      left: 15px!important;
      right: auto!important;
    }
  }

  .empty-collection {
    border: 1px solid #eee;
    text-align: center;
    width: 100%;
    padding: 13px;
    min-height: 50px;
    font-size: 15px
  }

  div.div-form-group.has-error {
    * { color: $state-danger-text }
  }
  .field_with_errors {
  }

  div {
    .shared-links { float: left }
    .field { margin: 10px; }
  }

  textarea {
    // stop textarea to overflow on resize
    max-width: 100%;
    @include cross-browser-border-radius(0);
  }

  dl {
    &.ir {
      dt { @extend .pull-right; }
      dd { margin-left: 10%; }
    }
  }

  .kid-effect {
    -webkit-box-shadow:0 0 20px #0088cc;
    -moz-box-shadow: 0 0 20px #0088cc;
    box-shadow:0 0 20px #0088cc;
  }

  .highlight {
    color: black;
    font-weight: bold;
    background-color: yellow;
  }

  .magnifiable
  {
      display:inline-block;
      border:0;
      background-color: tranparent;
      position: relative;
      @include cross-browser-transition(all, 200ms, ease-in, 0);
      @include cross-browser-transform(scale(1));
      transform: scale(1);

  }
  .magnifiable-enabled
  {
      z-index: 2;
      @include cross-browser-transition(all, 200ms, ease-in, 0);
      @include cross-browser-transform(scale(1.15));
      font-weight: bold
  }

  .has-shopping-cart > a
  {
    color: green!important;
    @include cross-browser-transition(color, 500ms, ease-out, 200ms);
  }

  .img-wrap {
      & {
        position: relative;
        display: inline-block;
        font-size: 0;
      }
      .fa-times {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 100;
        padding: 5px 2px 2px;
        color: red;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
        @include cross-browser-opacity(0.8);
      }

      .fa-times:hover {
        @include cross-browser-opacity(1);
      }
      &.fade {
        & {
          @include cross-browser-opacity(0.3);
          @include cross-browser-transition(opacity, 1000ms, ease-out, 100ms)
        }
        a[data-remote] { cursor: default; display: none }
      }
  }

  .alert {
    &.alert-default {
      border: 1px solid #aaa
    }
  }

  .order {
    & {
      padding: 0;
    }
    & > p {
      color: #777;
      text-decoration: justify;
      margin-top: 10px;
    }
    & > .btn-order {
      & {
        color: white;
        height: 50px;
        cursor: pointer;
        background-color: $label-success-bg;
        @include cross-browser-border-radius(4px);
      }
      &:hover {
        & { background-color: darken($label-success-bg, 5%) }
        & > div { background-color: darken($label-success-bg, 15%) }
      }
      & > * {
        cursor: pointer;
        padding-top: 13px;
        @include cross-browser-border-radius(4px);
      }
      & > label {
        @extend .col-lg-8;
        @extend .col-md-8;
        @extend .col-sm-8;
        @extend .col-xs-8;
      }
      & > div {
        @extend .col-lg-4;
        @extend .col-md-4;
        @extend .col-sm-4;
        @extend .col-xs-4;
        background-color: darken($label-success-bg, 10%);
        height: 100%;
        padding-top: 16px;
      }
      &.not-available {
        & {
          color: white;
          background-color: $label-warning-bg;
        }
        & > div { background-color: darken($label-warning-bg, 10%); }
        &:hover {
          & { background-color: darken($label-warning-bg, 5%) }
          & > div { background-color: darken($label-warning-bg, 15%) }
        }
      }
    }
  }
  .pagination {
    .prev-symbol,
    .next-symbol {
      top: 2.3px;
      position: relative;
    }
  }
  .nav-rtl {
    & {
      padding-left:40px;
      padding-right:0px;
    }
    li { float:right; }
  }
  .ir {
    ::-webkit-input-placeholder { text-align: right; }
    :-moz-placeholder { text-align: right; }
    ::-moz-placeholder { text-align: right; }
    :-ms-input-placeholder { text-align: right; }
    /*
     * input group for .ir class
     */
    .input-group-btn:last-child > .btn,
    .input-group-addon:last-child {
      border-left: 1px solid $input-group-addon-border-color;
      border-right: 0;
      border-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      &:active,
      &:hover {
        border-color: $input-group-addon-border-color;
      }
    }
    .input-group-addon:first-child {
      border-right: 1px solid $input-group-addon-border-color;
      border-left: 0;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .has-error {
      .input-group-addon {
        border-color: $state-danger-text!important;
      }
    }

    .input-group {
      .form-control:last-child {
        @extend .form-control:last-child;
        @include cross-browser-border-radius(4px);
        @include cross-browser-border-radius-direction(0, 'bottom-right');
        @include cross-browser-border-radius-direction(0, 'top-right');
      }
      .form-control:first-child {
        @extend .form-control:first-child;
        @include cross-browser-border-radius(4px);
        @include cross-browser-border-radius-direction(0, 'bottom-left');
        @include cross-browser-border-radius-direction(0, 'top-left');
      }
    }
  }
}