/* basic css */
.check-awesome
{ position:relative; }
.check-awesome input[type=checkbox]
{ display:none; }
/* checkbox css */
.check-awesome label
{ cursor:pointer; }
.check-awesome label span
{ display:block; position:absolute; -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s; }

.check-awesome.ir label span
{ right: 0 }
.check-awesome:not(.ir) label span 
{left:0;}

.check-awesome.ir p,
.check-awesome.ir label
{ padding-right:50px; }

.check-awesome:not(.ir) p,
.check-awesome:not(.ir) label
{ padding-left:50px; }

.check-awesome label .circle          {
  background:#FFF;
  left:-30px;
  top:-30px;
  height:80px;
  width:80px;
  z-index:-1;
  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
.check-awesome label .box     {
  border:2px solid #000;
  height:20px; 
  width:20px;
  z-index:888;
  -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
}
.check-awesome label .check         {
  top: -7px;
  left: 6px;
  width: 12px;
  height: 24px;
  border:2px solid #0f9d58;  
  border-top: none;
  border-left: none;
  opacity:0; 
  z-index:888;
  -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
  -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
}

/* handling click events */

/* when checkbox is checked */
.check-awesome label .circle {
  -webkit-animation   :growCircle 0.3s ease;
  -moz-animation      :growCircle 0.3s ease;
  animation           :growCircle 0.3s ease;
}
.check-awesome input[type=checkbox]:checked ~ p {
  display: hidden
}
.check-awesome input[type=checkbox]:checked ~ label .box { 
  opacity:0;
  -webkit-transform   :scale(0) rotate(-180deg);
  -moz-transform    :scale(0) rotate(-180deg);
  transform         :scale(0) rotate(-180deg);
}
.check-awesome input[type=checkbox]:checked ~ label .check {
  opacity:1; 
  -webkit-transform   :scale(1) rotate(45deg);
  -moz-transform      :scale(1) rotate(45deg);
  transform           :scale(1) rotate(45deg);
}
.check-awesome input[type=checkbox]:checked ~ label
{
  transition: color 2s ease;
  color: green;  
}
.check-awesome input[type=checkbox]:not(checked) ~ label {
  transition: color 2s ease;
  color: initial;  
}

/* bubble animation */

@-webkit-keyframes growCircle {
  0%, 100%   { -webkit-transform:scale(0); }
  70%        { background:#DDD; -webkit-transform:scale(1.25); }
}
@-moz-keyframes growCircle {
  0%, 100%   { -moz-transform:scale(0); }
  70%        { background:#DDD; -moz-transform:scale(1.25); }
}
@keyframes growCircle {
  0%, 100%   { transform:scale(0); }
  70%        { background:#DDD; transform:scale(1.25); }
}