$gallery-margin-top: -100px;

#furniture-cover {
  & ~ .container {
    position: relative;
    top: -140px
  }
  .cover-item,
  .cover-scroller {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: center;
  }
  .cover-item {
    box-shadow: 2px 2px 4px #bbb;
    width: 150px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cover-scroller {
    top: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    padding-top: 55px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #0088cc;
  }
  .cover-scroller{
    &[data=right] { display: hidden }
    &.disabled {
      color: transparent;
      cursor: default;
    }
  }
  #cover-options {
    & {
      height: 30px;
      left: 10px;
      top: 65px;
      right: 0px;
      position: absolute;
    }
    #cover-options-controls {
      & {
        right: 45px;
        top: 60px;
        position: absolute;
        text-align: center;
        padding: 0px 10px 0px 10px;
      }
      &:after {
          content:'';
          position: absolute;
          top: -15px;
          right: 12%;
          width: 0;
          height: 0;
      }
      .ui-slider-vertical {
          height: 400px;
          width: 10px;
      }
      .ui-slider .ui-slider-handle {
          height: 15px;
          width: 18px;
          padding-left: 5px;
      }
    }
  }
  #cover-container {
    & {
      position: relative;
      display: inline;
      z-index: 1000;
      top: $gallery-margin-top;
    }
    #cover-collection {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
      padding: 10px 0 50px 0;
      margin: 0;
    }
  }
}

/* Medium devices (desktops; devices, 1600px and down) */
@media (max-width: 1600px) { 
  #div-f-cover { background-size: 100vw }
}

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { 
  #div-f-cover { background-size: 80vw }
}
