@import "jquery.guillotine";

$furniture-cover-margin-top: 400px;
$furniture-cover-controls-bg-color: #1b1b1b;
$furniture-cover-controls-border-color: #b1b1b1;


#furniture-cover {
  #cover-options {
    & {
      height: 30px;
      left: 10px;
      top: 65px;
      right: 0px;
      position: absolute;
    }
    #cover-options-controls {
      & {
        right: 45px;
        top: 60px;
        position: absolute;
        text-align: center;
        // background-color: $furniture-cover-controls-bg-color;
        // border: 1px solid $furniture-cover-controls-border-color;
        padding: 0px 10px 0px 10px;
      }
      &:after {
          content:'';
          position: absolute;
          top: -15px;
          right: 12%;
          width: 0;
          height: 0;
          // border-bottom: solid 15px $furniture-cover-controls-border-color;
          // border-left: solid 15px transparent;
          // border-right: solid 15px transparent;
      }
      .ui-slider-vertical {
          height: 400px;
          width: 10px;
      }
      .ui-slider .ui-slider-handle {
          height: 15px;
          width: 18px;
          padding-left: 5px;
      }
    }
  }
  #cover-container {
    & {
      position: relative;
      display: inline;
      z-index: 1000;
      top: -110px;
      //margin-top: -4000px;
    }
    #cover-collection {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
      padding: 10px 0 50px 0;
      margin: 0;
    }
  }
  .cover-item,
  .cover-scroller {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: center;
  }
  .cover-item {
    box-shadow: 2px 2px 4px #bbb;
    width: 150px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cover-scroller {
    top: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    padding-top: 55px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #0088cc;
  }
  .cover-scroller{
    &[data=right] { display: hidden }
    &.disabled {
      color: transparent;
      cursor: default;
    }
  }
}
#furniture-cover ~ .container {
  position: relative;
  top: -150px
} 