// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ir { direction: rtl; text-align: right }

.furniture-item {
  padding: 10px;
  margin: 5px 0 5px 0;
  margin-bottom: 10px;
}

.furniture-details
{ 
  border: 1px solid #888;
  border-top: 0;
  padding: 10px;
  border-radius: 4px;
}