.furniture-item {
  padding: 10px;
  margin: 5px 0 5px 0;
  margin-bottom: 10px;
}

.furniture-details
{
  border: 1px solid #888;
  border-top: 0;
  padding: 10px;
  border-radius: 4px;
}

.furniture-right-pannel,
.furniture-right-pannel > * {
  padding: 0
}

.furniture-right-pannel > fieldset > div {
  margin: 5px;
}
