<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Pricing::Kanaf.model_name.i18n_key}" %>: «<strong><%= @admin_pricing_kanaf.id %></strong>»</legend>
  <%= render 'form', admin_pricing_kanaf: @admin_pricing_kanaf, :submit_text => 'ویرایش' %>
</div>