<legend><h1>ایجاد کاربری جدید</h1></legend>
<div class='col-md-8 col-md-offset-2'>
  <%= render file: 'devise/registrations/new' %>
  <%= link_to 'بازگشت', admin_users_path, style: 'position: relative; top: 10px;' %>
</div>