<div class='container'>
	<div class="panel panel-success">
	  <div class="panel-heading">
	  	<strong>عملیات موفق! <span class='fa fa-check'></span></strong>
		</div>
	  <div class="panel-body">
	  	پیامک رمز موقت با موفقیت ارسال شد.
	  </div>
	</div>
</div>
