<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Furniture::Set.model_name.i18n_key}" %>: «<strong><%= @admin_furniture_set.id %></strong>»</legend>
  <%= render 'form', admin_furniture_set: @admin_furniture_set, :submit_text => 'ویرایش' %>
</div>