<div id='photo-gallery-template' class='hidden'></div>

<script type="text/javascript" charset="utf-8" name='pswp-js'>
	function init_photo_gallery() {
		function openPhotoSwipe(items, options) {
			pswpElement = document.querySelectorAll('.pswp')[0];
			// Initializes and opens PhotoSwipe
			gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
			gallery.listen('afterChange', function() {
				$el = $(pswpElement).find('.pswp__button.pswp__button--like');
				if(gallery.items[gallery.getCurrentIndex()].is_cover)
					$el.attr('data-original-title', 'این عکس‌ کاور می‌باشد.').find('.fa').removeClass('fa-thumbs-up').addClass('fa-heart');
				else
					$el.attr('data-original-title', 'انتخاب این عکس جهت عکس کاور؟').find('.fa').removeClass('fa-heart').addClass('fa-thumbs-up');
			});
			gallery.init();
		}
		gallary_item = '[data-type="photo-gallery"]:not(.pswpify)'
		gallary_parent = '.photo-gallery-collection'
		$(gallary_item).click(function(e){
				e.preventDefault();
				e.stopPropagation();
				items = $(this).closest(gallary_parent).find(gallary_item).map(
					function() { 
						return { 
							src: this.href, 
							msrc: $(this).attr('data-thumb'),
							w: 1280, h: 720, 
							obj: this,
							index: $(this).attr('data-index'), 
							cover_url: $(this).attr('data-cover-url'),
							is_cover: $(this).attr('data-cover') == 'true'
						}; 
					}).get();
							
				options = {
						index: parseInt($(this).attr('data-index')),
						fullscreenEl: true,
						history: false,
				};
				openPhotoSwipe(items, options);
		}).addClass('.pswpify');
	};
	$(document).ready(function(){
		String.prototype.format = function () {
      var args = [].slice.call(arguments);
      return this.replace(/(\{\d+\})/g, function (a){
          return args[+(a.substr(1,a.length-2))||0];
      });
		};
		init_photo_gallery();
		$('.photo-gallary-collection-incomplete a[data-source]:not(.pswpify)').click(function(e) {
			e.preventDefault();
			e.stopPropagation();
			$(this).addClass('active');
			$(this).find('*').hide();
			$(this).prepend('<span class="fa fa-spinner fa-spin"></span>');
			$this = $(this);
			$('#photo-gallery-template').html('').addClass('photo-gallery-collection');
			$.get({
				url: $(this).attr('data-source'),
				success: function(data) {
					for (var index = 0; index < data.images.length; index++) {
						link = 
						'<%= link_to "{0}", data: { type: 'photo-gallery', index: "{1}", thumb: "{2}", cover: "{3}", "cover-url": cover_admin_furniture_path("{4}", format: :json) } do %>\
							<%= image_tag "{2}", :class => "cover-item img-responsive img-thumbnail", style: "height: 40px; width: 70px" %>\
						<% end %>'
						.replace('%7B', '{').replace('%7D', '}')
						.replace('src="/images/{2}"', 'src="{2}"')
						.format(data.images[index].url, index, data.images[index].thumb.url, index == data.cover, $this.attr('data-id'))
						$('#photo-gallery-template').append(link);
					};
					init_photo_gallery();
					if (data.cover !== undefined)
						$('#photo-gallery-template [data-type="photo-gallery"]:nth-child('+(parseInt(data.cover)+1)+')').click();
				},
				complete: function() {
					$this.find('.fa-spinner').remove();
					$this.find('*').show()
				}
			})
		}).addClass('pswpify');
	});
</script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe.
       It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
              <!--  Controls are self-explanatory. Order can be changed. -->
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

              <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
              <!-- element will get class pswp__preloader--active when preloader is running -->
              <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>
          <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
          </div>
      </div>
  </div>
</div>
