<div style="width: 100%">
  <legend>ویرایش <%= t "activerecord.models.#{Admin::Selling::Order::Payment.model_name.i18n_key}" %>: «<strong><%= @admin_selling_order_payment.id %></strong>»</legend>
  <%= render 'form', admin_selling_order_payment: @admin_selling_order_payment, :submit_text => 'ویرایش' %>
</div>